project_id   = "incident-management-project"
region       = "asia-south1"
bucket_name  = "incident-management-storage"
database_url = "postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres"
secret_key   = "your-super-secret-jwt-key"
